@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-crimson:#DC143C;
  --primary-dark:rgba(255,255,255, 0);
}
body{
  font-family: "Roboto Condesed" sans-serif;
}


/* menu link */
nav a.nav-link  {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem  solid var(--primary-dark);

}

.navbar-brand{
  max-width: 10.25rem;
  color: var(--primary-crimson) !important;

padding: 0 !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-crimson);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-crimson);
}