@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-crimson:#DC143C;
  --primary-dark:rgba(255,255,255, 0);
  --primary-black:#000000;
  --primary-red:#640000;
  --primary-alicewhite:#F0F8FF;
  --primary-grey:#f4f4f4;
}
body{
  font-family: "Roboto Condensed" sans-serif  !important;
}
/* navbar */
nav{
  z-index: 2;
}


/* menu link */
nav a.nav-link  {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem  solid var(--primary-dark);

}

.navbar-brand{
  max-width: 10.25rem;
  color: var(--primary-white) !important;
  padding: 0 !important;

}

@media(max-width: 768px){
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-crimson);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-crimson);
}
.header-wraper{
  position: relative;
  background: url(App.jpeg) no-repeat; 
  background-size: cover;
  background-position: center;
  height: 95vh;

}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed",sans-serif;
  z-index: 1;
}
.main-info h1{
  color: var(--primary-crimson);
  text-transform:uppercase;

  
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem  !important;
  }
 
}


 /* typed text */
 .typed-text{
   font-size: 2rem;
   color: var(--primary-white);
 }
 /* header github button */
.btn-github{
border: 1px solid var(--primary-crimson);
text-transform: uppercase;
border-radius: 0;
padding: 0.625rem 0.75rem 0.75rem 0.75rem;
color: var(--primary-white);
margin-top: 2rem;
font-family: "Roboto Condesed",sans-serif;
}
.btn-github:hover{
 
  text-decoration: none;
  background-color:var(--primary-crimson);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;

}

@media(max-width: 768px){
  .particles-canvas{
    display: none;

  }

}

/* about me */

.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;

}


.profile-img{
  width: 16rem;
  border-radius: 50%;
  padding:  .3rem;
  border:  2px solid var(--primary-crimson);

}
.about-heading{
  color: var(--primary-crimson);
  text-transform: uppercase;
}
@media(max-width: 468px){
  .profile-img{
    width: 10rem;
  }
}
.btn-resume{
  border: 1px solid var(--primary-crimson);
text-transform: uppercase;
border-radius: 0;
padding: 0.625rem 0.75rem 0.75rem 0.75rem;
color: var(--primary-black);
margin-top: 2rem;
font-family: "Roboto Condesed",sans-serif;

}

.btn-resume:hover{
  text-decoration: none;
  background-color:var(--primary-crimson);
  color: var(--primary-white);
  transition:  .2s ease-in-out;

}

/***** Services **** */
.services{
  
  
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-grey);

}

.services h1{
  color: var(--primary-crimson);
  text-transform: uppercase;
}



